.course_card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px;
}

.course_card .course_image {
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 10px;
}
.course_card .course_image img {
  width: 100%;
}
.course_card .course_info h3 {
  position: relative;
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
  color: black;
  font-family: 'Playfair Display', 'Bookman', serif;
  font-style: italic;
}

.course_card .course_info span {
  line-height: 2em;
  padding-bottom: 15px;
  text-transform: none;
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
  font-family: 'Playfair Display', 'Bookman', serif;
  color: #999;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}

.course_card .course_btns button,
.course_card .course_btns a {
  width: 100%;
  margin-top: 10px;
}

.category_name {
  text-align: center;
  margin: 30px 0;
}
.category_name span {
  display: inline-block;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}
.category_name span::after {
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  position: absolute;
  background-color: var(--main-color);
  left: 0;
}
