/* ---------------------------Start landing area----------------------------  */

.landingArea {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/istockphoto-903018734-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 65vh;
  }
  .landingArea::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 108, 244, 0.7);
  }
  .landingArea .landing_header {
    position: absolute;
    direction: rtl;
    top: 70%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
  }
  
  .landingArea .landing_header h1 {
    font-weight: bold;
    font-family: 'Bahij', Sans-serif;
    font-size: 40px;
    line-height: 54px;
    color: var(--secondary-color);
  }
  
  .landingArea .landing_header p {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 0.25px;
    margin-top: 0%;
    margin-bottom: 200px;
    position: relative;
  }
  /* ------------------------------- End landing area -------------------------- */