/* ----------------------start topbar------------------------ */
.topbar {
  background-color: var(--main-color);
  color: white;
}
.sitelogo,
.socialLinks {
  text-align: center;
}
.contactInfo {
  padding: 25px;
  padding-left: 25px;
}
.topbar img {
  width: 100px;
}
.socialLinks {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.socialLinks .icon {
  display: inline-block;
  color: var(--secondary-color);
  border-radius: 50%;
  padding: 8px;
  margin: 0px 5px;
  background-color: var(--secondary-color);
  color: var(--main-color);
}
.topbarContent {
  height: 100%;
  align-items: center;
}
.topbar .icon {
  padding-right: 5px;
  padding-left: 5px;
  display: inline;
}
.topbarContent {
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
}
.topbarContent div {
  display: inline-block;
  text-align: center;
  margin: 0px 15px;
  margin-top: 3%;
}
/* --------------------------end topbar--------------------- */

/* ----------------start navbar ------------------ */
.navbar {
  width: 90%;
  margin: auto;
}
.nav {
  background-color: var(--main-color);
  border-style: solid;
  border-width: 4px 0px 4px 0;
  border-color: var(--secondary-color);
}

.nav .navbar_nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: center;
}
.nav .navbar_nav .nav_link {
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: smaller;
}
.nav .navbar_nav .langs_dropdown {
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: smaller;
}

.nav .navbtns {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav .navbtns .join_login {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  box-shadow: 1px 1px 3px 1px rgb(82, 80, 80);
  transition: all 0.6s;
}
.nav .navbtns .join_login:hover {
  transform: scale(0.9);
}
.join_login .icon {
  padding-right: 5px;
  padding-left: 5px;
  font-size: smaller;
}

.navbar_nav .lang {
  cursor: pointer;
  color: white;
}
/* -------------------end navbar---------------------- */
