:root {
  --main-color: #3c99dc;
  --secondary-color: #facc5a;
}

/* ----------------start navbar ------------------ */

/* -----------------------Start Responsive navbar-------------------------- */
/* @media screen and (max-width: 1245px ) {
    .header{
        height: 193px !important;
    }
    .contactInfo{
        width: 85% !important;
    }
    .nav nav{
        width: 96% !important;
    }
    .nav .joinbutton , .nav .loginbutton{
        height: 55px;
    }
    }
@media screen and (max-width: 1221px) {
    .header{
        height: 193px !important;
    }
    .contactInfo{
        width: 90% !important;
    }
    .nav nav{
        width: 98% !important;
    }
    .nav .joinbutton , .nav .loginbutton{
        right: 5px!important;
    }
}
@media screen and (max-width: 1197px) {
    .header{
        height: 195px !important;
    }
    .contactInfo{
        width: 90% !important;
    }
    .nav nav{
        width: 100% !important;
    }
    .nav .navbtns{
        position: relative !important;
        left: 1px !important ;
    }
} */
/* -----------------------End Responsive navbar-------------------------- */

/* .header {
  background-color: var(--main-color); */
/* height: 169px;
} */

/* ----------------------start topbar------------------------ */
.topbar {
  background-color: var(--main-color);
  height: 100px;
}
.contactInfo {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.socialLinks {
  display: flex;
  position: relative;
}
.socialLinks .icon {
  color: white;
  background-color: var(--secondary-color);
  padding: 7px;
  border-radius: 30px;
  margin-right: 10px;
}
.address {
  position: relative;
  display: flex;
  align-items: center;
}

.address .icon {
  color: var(--secondary-color);
  font-size: 35px;
  position: relative;
}
.mail {
  position: relative;
  right: 10px;
  display: flex;
}

.mail .icon {
  color: var(--secondary-color);
  font-size: 25px;
  position: relative;
  left: 10px;
}

.phone {
  position: relative;
  right: 10px;
  display: flex;
}

.phone .icon {
  color: var(--secondary-color);
  font-size: 25px;
  position: relative;
  left: 10px;
}

.contactInfo .sitelogo img {
  width: 65px;
}
/* --------------------------end topbar--------------------- */

.nav {
  background-color: var(--main-color);
  border-style: solid;
  border-width: 4px 0px 4px 0;
  border-color: var(--secondary-color);
}
.nav nav {
  width: 90%;
  margin: auto;
}
.nav .navbtns {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 15px;
}
.nav .join_login {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  width: 100px;
  border: none;
  border-radius: 10px;
  position: relative;
  right: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  margin-left: 2px;
}
.nav .navbtns .icon {
  padding-left: 5px;
}

.nav .loginbutton {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  width: 100px;
  border: none;
  border-radius: 10px;
}

/* -------------------end navbar---------------------- */
