/* ----------------------start card section---------------------------- */
.cardsSection {
  width: 90% !important;
  margin: auto !important;
  padding-bottom: 90px;
  padding-top: 130px;
}
/* -------------------------------End card section-------------------------------- */

/* -----------------------------------start questions & inquiries section------------------------------- */

.qusestion_inquiry {
  width: 85%;
  margin: auto;
  padding-bottom: 60px;
}
.qusestion_inquiry .questions {
  margin: 15px;
}
.qusestion_inquiry .questions .accordian {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
.qusestion_inquiry .questions .accordian .accordianHeader {
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 20px 10px 20px 10px;
}
.qusestion_inquiry .questions .accordian .accordian_body {
  background-color: rgba(128, 128, 128, 0.092);
}
.qusestion_inquiry .questions .accordian h1 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}
.qusestion_inquiry .questions .title {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 25px;
}
.qusestion_inquiry .inquiries {
  margin: 15px;
}
.qusestion_inquiry .inquiries .formContainer {
  padding: 30px;
  background-color: white;
  border-radius: 5px;
}
.qusestion_inquiry .inquiries .title {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 25px;
}
.qusestion_inquiry .inquiries .input {
  padding-bottom: 20px;
}
.qusestion_inquiry form input,
.qusestion_inquiry form textarea {
  background-color: #f9f9f9;
}
.qusestion_inquiry .inquiries .sendmsg_btn {
  padding-top: 20px;
}
.qusestion_inquiry .inquiries form button {
  border-radius: 10px;
  width: 50%;
  height: 50px;
}

/* -----------------------------------end questions & inquiries section------------------------------- */
