/* responsive */
@media screen and (max-width: 992px) {
  .accordian {
    position: relative !important;
    top: 20px;
  }
  .features .logo {
    padding-top: 60px !important;
  }
  .ourclients h2 {
    font-size: 25px;
    padding-top: 30px;
  }
  .cardsSection .card {
    margin: 20px !important;
  }
  .Section .card .price_offer p {
    position: absolute;
    display: block;
    margin: 15px;
    text-align: right;
    bottom: -45% !important;
    right: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 798px) {
  .siteName {
    top: 70% !important;
  }
  .Section .card .price_offer p {
    position: absolute;
    display: block;
    margin: 15px;
    text-align: right;
    bottom: -45% !important;
    width: 100%;
  }
}

.cardsSection {
  width: 70%;
  padding-bottom: 80px;
  padding-top: 130px;
  margin: auto;
  margin-top: -220px;
  z-index: 9;
}

/* ----------------------Start sections------------------------ */
.Section {
  text-align: -webkit-center;
  margin-top: 50px;
}
.Section .card {
  margin: 5px;
  text-align: center;
  width: 90%;
  display: block;
  background: #ffffff;
  box-shadow: 0px 0px 3px 0px rgb(152, 151, 151);
  border-radius: 5px !important;
  position: relative;
  transition: all 0.1s ease 0s;
}

.Section .sectiontitle {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.Section .icon {
  color: var(--main-color);
  width: 100%;
  font-size: 20px;
}

.Section .card .image {
  padding: 10px 0;
}
.Section .card .image img {
  width: 80%;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 500ms;
}
.Section .card .image img:hover {
  opacity: 1;
  transform: rotate(2deg);
  transform: scale(1.07);
}
.card .cardtitle {
  text-align: center;
  color: #222;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.Section .card span {
  text-transform: none;
  font-size: 0.9em;
  display: inline-block;
  width: 100%;
}
.Section .card .line_through {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}
.Section .card .cardbtns {
  padding: 10px;
}
.Section .card .cardbtns a {
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: var(--main-color);
  color: white;
  transition: all 0.2s ease-in;
}
.Section .card .cardbtns a:hover {
  background-color: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  transform: scale(0.9);
}
.Section .card .price_offer {
  margin-top: 25px;
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.Section .card .price_offer span {
  background-color: var(--secondary-color);
  color: white;
  width: 100%;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 1px #ccc;
  margin-top: 10px;
  position: relative;
}
.endoffer {
  position: absolute;
  background-color: red;
  padding: 0px 15px;
  top: -100%;
  right: 0;
  border-radius: 10px;
}
.svgUnderline {
  margin-bottom: 60px !important;
  position: relative;
}
.svgUnderline svg {
  position: absolute;
  top: 60%;
  height: calc(100% + 80px);
  transform: translate(-50%, -50%);
  transition: all 00.1s;
  animation: 0.5s ease-in forwards line;

  fill: var(--main-color);
}
@keyframes line {
  from {
    width: 1%;
    left: 40%;
    fill: var(--secondary-color);
  }
  to {
    width: 20%;

    left: 50%;
    fill: var(--main-color);
  }
}

/* -----------------------------End Sections--------------------------- */

/* -------------------start features section------------------  */
.features_clients_container {
  background-color: white;
}
.features {
  padding-top: 70px;
  /* text-align: center; */
}
.features .title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.features .accordian {
  width: 100% !important;
  background-color: white;
  box-shadow: 0px 5px 30px 5px rgb(0 0 0 / 6%);
}
.features .accordian_body {
  background-color: rgba(128, 128, 128, 0.092);
  color: #6a6a6a;
  font-weight: bold;
  font-size: 15px;
}

.features .accordianHeader {
  color: #7e7e7e;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
}
.features img {
  width: 70%;
}

/* -----------------------start client section------------------ */
.clients {
  padding-top: 190px;
  padding-bottom: 100px;
}
.clientelement {
  width: 90%;
  margin: auto;
  position: relative;
}
.clientelement .imgs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.clientelement img {
  width: 8%;
}
.clientelement .ourclients {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourclients h2 {
  font-size: 20px;
  font-weight: bold;
}
/* --------------------------end client section--------------------------- */
/* -----------------------start reviews section------------------------ */

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
}

.reviews .title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.reviews .reviewscards {
  margin-top: 5%;
}
.teamitem {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  padding: 0px 10px 30px 10px;
  margin: 10px;
}

.teamitem:hover .teamcontent .teaminfo {
  margin-left: 30px;
}

.teamitem i {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
}

.teamitem .userimg {
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 25px;
}
.teamitem .userimg img {
  width: 100%;
}

.teamitem .teamcontent {
  /* direction: rtl; */
  overflow: hidden;
}

.teamitem .teamcontent .teaminfo {
  margin-left: 20px;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.teamitem .teamcontent .teaminfo .username {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}

.teamitem .teamcontent .teaminfo span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
  letter-spacing: 0.25px;
}

.teamitem .teamcontent p {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 0.6px;
  line-height: 26px;
}

/* ----------------------------End reviews section--------------------- */
