/* responsive */
@media screen and (max-width: 992px) {
  .accordian {
    position: relative !important;
    top: 20px;
  }
  .features .logo {
    padding-top: 60px !important;
  }
  .ourclients h2 {
    font-size: 25px;
    padding-top: 30px;
  }
  .cardsSection .card {
    margin: 20px !important;
  }
}
@media screen and (max-width: 798px) {
  .siteName {
    top: 70% !important;
  }
}

.cardsSection {
  width: 70%;
  margin-left: 15%;
  padding-bottom: 80px;
  padding-top: 130px;
  margin-top: -220px;
  z-index: 9;
}

/* ----------------------Start sections------------------------ */
.Section {
  margin-top: 70px;
  margin-bottom: 70px;
  direction: rtl;
}
.Section .card {
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: block;
  background: #ffffff;
  box-shadow: 0px 0px 3px 0px rgb(152, 151, 151);
  border-radius: 5px !important;
  position: relative;
  transition: all 0.3s ease 0s;
}
.Section .sectiontitle {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.Section .icon {
  color: var(--main-color);
  width: 100%;
  font-size: 20px;
}

.Section .card .image {
  padding: 10px 0;
}
.Section .card .image img {
  width: 95%;
  height: 300px;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 500ms;
}
.Section .card .image img:hover {
  opacity: 1;
  transform: rotate(2deg);
}
.card .cardtitle {
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  font-family: 'Playfair Display', 'Bookman', serif;
}

.Section .card span {
  text-transform: none;
  font-size: 1.3em;
}
.Section .card .line_through {
  text-decoration: line-through;
}
.Section .card .cardbtns {
  padding: 10px;
}
.Section .card .cardbtns a {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.Section .card .price_offer {
  margin-top: 25px;
  font-size: 12px;
}

/* -----------------------------End Sections--------------------------- */

/* -------------------start features section------------------  */
.features_clients_container {
  background-color: white;
}
.features {
  padding-top: 70px;
  /* text-align: center; */
}
.features .title {
  font-weight: bold;
  font-family: 'Bahij', Sans-serif;
  font-size: 20px;
  text-align: center;
}

.features .accordian {
  width: 100% !important;
  direction: rtl;
  background-color: white;
  box-shadow: 0px 5px 30px 5px rgb(0 0 0 / 6%);
}
.features .accordian_body {
  background-color: rgba(128, 128, 128, 0.092);
  color: #6a6a6a;
  font-weight: bold;
  font-size: 15px;
  direction: rtl;
}

.features .accordianHeader {
  color: #7e7e7e;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Bahij', Sans-serif;
  padding: 20px 10px 20px 10px;
}
.features img {
  width: 70%;
}

/* -----------------------start client section------------------ */
.clients {
  padding-top: 190px;
  padding-bottom: 100px;
}
.clientelement {
  width: 90%;
  margin: auto;
  position: relative;
}
.clientelement .imgs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.clientelement img {
  width: 8%;
}
.clientelement .ourclients {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourclients h2 {
  font-family: 'Bahij', Sans-serif;
  font-size: 20px;
  font-weight: bold;
}
/* --------------------------end client section--------------------------- */
/* -----------------------start reviews section------------------------ */

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
}

.reviews .title {
  font-weight: bold;
  font-family: 'Bahij', Sans-serif;
  font-size: 20px;
  text-align: center;
}

.reviews .reviewscards {
  margin-top: 5%;
}
.teamitem {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
  padding: 0px 10px 30px 10px;
  margin: 10px;
}

.teamitem:hover .teamcontent .teaminfo {
  margin-left: 30px;
}

.teamitem i {
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
}

.teamitem .userimg {
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 25px;
}
.teamitem .userimg img {
  width: 100%;
}

.teamitem .teamcontent {
  direction: rtl;
  overflow: hidden;
}

.teamitem .teamcontent .teaminfo {
  margin-left: 20px;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.teamitem .teamcontent .teaminfo .username {
  display: block;
  font-weight: 400;
  font-size: 17px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}

.teamitem .teamcontent .teaminfo span {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
  letter-spacing: 0.25px;
}

.teamitem .teamcontent p {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  color: #777;
  letter-spacing: 0.6px;
  line-height: 26px;
}

/* ----------------------------End reviews section--------------------- */
/* -------------------------------- old Card css------------------------ */

/* .langCourses{
            margin-top: 70px;
            font-family: "Bahij", Sans-serif;
        
        } */

/* .langCourses .title{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
     
    }
  */

/* .langCourses .card{
        width: 20% ;
        margin: auto;
        padding-bottom: 80px;
        top: 30px;
        background-color: transparent !important;
        align-items: center;
        align-content: center;
    } */

/* .langCourses .card img{
        max-width: 80%;
        border-radius: 10px;
        transition-duration: 0.3s;
    } */

/* .langCourses .card .cardtitle{
        top: 20px;
        position: relative;
        font-weight: bold;
    } */

/* .langCourses .card p{
        position: relative;
        top: 20px;
        font-weight: 700;
        font-size: 12px;
        color: #000000;
        line-height: 1.7em;
    } */

/* .langCourses .cardbtns {
        position: relative;
        top: 30px;
    
    } */

/* .langCourses .cardbtns a{
        display: block;
        margin: auto;
        height: 50%;
        margin-top: 10px;
    } */

/* ------------------------------------------------------------------------------- */
