:root{
    --main-color: #3C99DC;
    --secondary-color: #FACC5A;
    --shadow-color: #3c99dc7a
  }

.gZWIKX {
    background-color: var(--main-color) !important;
    color: white;
    font-size: 15px;
}

.TUEFO {
    padding: 0 !important;
}

.zruCi {
    background-color: #3c99dc1f !important;
}