/* ---------------start add userform----------------- */

.adduser {
  padding-bottom: 150px;
}
.adduser .title {
  text-align: center;
  position: relative;
  top: 60px;
  color: var(--main-color);
}
.adduser .formcontainer {
  margin: auto;
  width: 40%;
  padding: 40px;
  position: relative;
  top: 80px;
  background-color: var(--main-color);
  border-radius: 6px;
  box-shadow: 0px 1px 6px var(--main-color);
}

.adduser .checkList {
  margin-top: 5px;
}
.adduser .listTitle {
  color: white;
}
.input_course {
  margin-top: 5px;
}
.adduser .save_btn button {
  background-color: var(--secondary-color);
  width: 100%;
  margin-top: 12px;
}

.adduser .save_btn button:hover {
  border-color: white;
}

.adduser .error_text {
  color: var(--secondary-color);
  font-weight: bold;
}

.title span {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
  width: 20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0px 0px 4px;
}
.title span svg {
  font-size: 20px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.select {
  margin-top: 5px;
}

.select label {
  margin-bottom: 5px;
}
